.App {
  text-align: center;
}
/* Reset default list styles */
.navbar ul li{
  display: inline-block;
  padding:10px;
}
.navbar{
  padding: 2px;
    margin: 0;
    text-decoration: none;
    background-color: rgb(112, 204, 240);
}

.navbar ul li a{
  text-decoration: none;
    color: white;
    padding: 2px;
}

/*footer*/
.footer-design{
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: skyblue;

}

/* App.css */

.signup-container {
  max-width: 400px;
  margin: 2px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signup-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.signup-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signup-form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.nav-right{
  text-align: right;
}

.signup-form button:hover {
  background-color: #0056b3;
}

.invalid-input{
  color: red;
  margin-top: -20px;
  display: block;
  margin-left: 20px;


}

.product-list{
  text-align: center;
  margin-top: 50px;
}

.product-list ul li{
 display: inline-block;
 border:1px solid skyblue;
 padding: 5px;
 width: 150px;
}
.product-list ul{
  margin: 0;
}








.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
